@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,900;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,500;0,700;1,100;1,400&display=swap');

*

html, body {
    background-image: linear-gradient(to right, rgb(0, 120, 125), rgb(0,128,128));
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}
section form {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: 3px solid darkcyan;
}
h1 {
    color: white;
}


header {
    background-color: teal;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-top: 2px;
    width: 140px;
    height: 80px;
}

.menu{
   position: absolute;
   left: 0;
   top: 80px;
   width: 100%;
   overflow: hidden;
   background-color: #085761;
   text-align: center;
}
.hide{
   transition: 1s;
   height:0;
}

.show{
   transition: 1s;
   height: 150px;
}

.menu a{
   display: inline-block;
   padding: 10px 0;
   text-decoration: none;
   font-size: 23px;
   color: white;
}

.menu a:hover{
   text-decoration: underline;
}

.icon-menu svg{
   font-size: 23px;
   color: white;
   cursor: pointer;
}

.menu-ativado{
    margin:155px 30px 0;
    transition: 1s;
}

.menu-desativado{
    margin: 30px;
    transition: 1s;
}