* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    display: block;
    text-align: center;
    align-items: center;
}
